@model FinalProject.Models.Product

<h2>Edit Product</h2>

<form asp-action="Edit">

    <input type="hidden" asp-for="ProductId" />

    <div>
        Name
        <input asp-for="ProductName" />
    </div>

    <div>
        Price
        <input asp-for="Price" />
    </div>

    <div>
        Category
        <select asp-for="CateId">
            @foreach (var c in ViewBag.Categories)
            {
                <option value="@c.CateID">@c.CateName</option>
            }
        </select>
    </div>

    <div>
        Brand
        <select asp-for="BrandId">
            @foreach (var b in ViewBag.Brands)
            {
                <option value="@b.BrandId">@b.BrandName</option>
            }
        </select>
    </div>

    <div>
        Shop
        <select asp-for="ShopId">
            @foreach (var s in ViewBag.Shops)
            {
                <option value="@s.ShopId">@s.ShopName</option>
            }
        </select>
    </div>


    <button type="submit">Save</button>

</form>